<!DOCTYPE html>
<html lang="en">
<head>
    
   
  


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <meta charset="utf-8">
	<!--applaud 
	
	<link rel="stylesheet" href="https://unpkg.com/applause-button@3.3.0/dist/applause-button.css" />
        <script src="https://unpkg.com/applause-button@3.3.0/dist/applause-button.js"></script> -->

	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}} | {{site.name}}</title>

    {% seo %}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
	
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">

    <!-- Bootstrap Modified -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">
     
	
	
    <!-- Jquery on header to make sure everything works, the rest  of the scripts in footer for fast loading -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    {% include tracking-header.html %}

	<meta charset="utf-8"/>
	
	
        
</head>

    
    
  
  
    
<body class="{% if page.url == "/" %} homefirstpage {% endif %}">

    <!-- Navbar -->
    <nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><strong>{{site.name}}</strong></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
               {% include menu-header.html %}
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                {% include search-lunr.html %}
            </ul>
        </div>
    </div>
    </nav>

    <!-- Search Results -->
    <div id="lunrsearchresults">
        <ul class="mb-0"></ul>
    </div>

	<!-- Site Tag
    ================================================== -->
    {% if page.url == '/' %}
        <p class="sitetag">
            {{ site.description }}
        </p>
    {% endif %}


	
    <!-- Content -->
    <main role="main" class="site-content">
        {{ content }}
    </main>


    <!-- Scripts: popper, bootstrap, theme, lunr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="{{site.baseurl}}/assets/js/theme.js"></script> </br> </br>


<!-- applaud body-->

<applause-button id="applause" multiclap="true" url="google.com"/>
  <script type="text/javascript">

    const button = document.getElementById("applause");

    button.initialClapCount.then(function(count) {
      console.log("initial clap count", count);
    });

    button.addEventListener("clapped", function(event) {
      console.log("button clapped", event.detail);
    });
  </script>

	
	
	<!-- Call to action 
<div class="jumbotron p-5 jumbotron-fluid bg-warning">
	<div class="container h-100">
		<div class="row justify-content-between align-items-center text-md-center text-lg-left">
			<div class="col-lg-9">
				<h5 class="font-weight-light text-dark">This is your final call to action area.<strong> Shine like a star, make them want you,</strong> tell 'em <strong><i class="fas fa-gift fa-2x"></i></strong> to push that button !</h5>
			</div>
			<span class="iconbox iconmedium rounded-circle bg-warning text-white shadow border-0"><i class="fas fa-coffee"></i></span>
			<div class="col-lg-3 text-md-center text-lg-right mt-4 mb-4">
				<a href="https://www.buymeacoffee.com/sadOvBb" class="btn btn-lg btn-outline-dark">Time to action</a>
			</div>
		</div>
	</div> -->
</div>
	
	

    <!-- Footer -->
<!-- dark footer -->
<!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
<path class="bg-black" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"></path>
</svg>
<footer class="bg-black pb-5">
<div class="container">
	<div class="row">
		<div class="col-12 col-md mr-4">
			<i class="fas fa-copyright text-gray"></i>
			<small class="d-block mt-3 mb-3 text-gray">© 2021 Bloggingwithravi</small>
		</div> -->
	<footer class="bg-black pb-5 pt-4 ">
        <div class="container">
		<div class="row justify-content-center text-center">
        
            <div>
                <span class="d-block mt-3 text-gray"><strong> © 2021 Bloggingwithravi</strong></span>
                <span class="d-block mt-3 text-gray>Copyright © <script>document.write(new Date().getFullYear())</script>.</span>

                <!--  Github Repo Star Btn-->
            <span class="d-block mt-3 text-gray" target="_blank" href="https://github.com/Ravijoshiji/Ravijoshiji.github.io/blob/master/_layouts/default.html"><i class="fab fa-github"></i> Fork on Github</a>

            </div>
            <div>
               <span class="d-block mt-3 text-gray"> Made with <a target="_blank" class="d-block mt-3 text-gray font-weight-bold" href="https://nodejs.org/en/"> Jekyll & Node.js </a> hosted  <a class="class="d-block mt-3 text-gray" target="_blank" href="https://www.github.com"> on github </a>.
            </div>
        </div>
        </div>
    </footer>  
	


		
		
	





    {% include tracking-footer.html %}

</body>

</html>
